
<div class="container"style=" margin:auto;">
    <div class="menu">
    <div class="row" style="margin-top:2%">
        <div class="col-lg opcion borde"><a [routerLink]="['/inicio']">Inicio</a></div>
        <div class="col-lg opcion peli"><a [routerLink]="['/pelicula']">Peliculas</a></div>
        <div class="col-lg opcion"><a [routerLink]="['/actores']">Actores</a></div>
        <div class="col-lg opcion"><a [routerLink]="['/directores']">Directores</a></div>
        <div class="col-lg opcion "><a [routerLink]="['/noticias']">Noticias/sugerencias</a></div>
        <div class="col-lg opcion bordefinal"><a (click)="cerrarSesion()" href="">Cerrar sesion</a></div>

    </div>
  </div>
  <h1 id="titulo_pag">Peliculas</h1>
  <div style="border-radius:50px;">
    
<mat-form-field style="width:100%">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" style="background-color: white; height:30px; width:100%">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="caratula" >
      <th mat-header-cell *matHeaderCellDef style="text-align:center; padding:1em;"> Caratula</th>
      <td mat-cell *matCellDef="let element" (click)="verInfo(element)" data-toggle="modal" data-target="#myModal"><img src={{element.rutaImg}} width="300px" height="300px"></td>
    </ng-container>

    <!-- Titulo Column -->
    <ng-container matColumnDef="titulo" >
      <th mat-header-cell *matHeaderCellDef style="text-align:center;padding:1em;"> Titulo</th>
      <td mat-cell *matCellDef="let element" (click)="verInfo(element)" data-toggle="modal" data-target="#myModal" style="cursor:pointer"> {{element.titulo}}</td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion" >
      <th mat-header-cell *matHeaderCellDef style="text-align:center;padding:1em;"> Descripcion</th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons style="background-color: rgba(255, 255, 255, 0.3); color:black; border-radius: 10px"></mat-paginator>
</div>
</div>
 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
         <h1 style="justify-content: center">{{p.titulo}}</h1> <br>
         <div class="imagen">
          <img src={{p.rutaImg}} width="70%">
         </div>
         <b>Descripcion:</b><br> {{p.descripcion}}<br><br>
         <b>Duración:</b> {{p.duracion}}<br><br>
         <b>Estreno:</b> {{p.estreno}}<br><br>
         <b>Productora:</b><br>{{p.productora}}<br><br>
         <b>Premios:</b><br>{{p.premios}}<br><br>
         <b>Director:</b><br><span class="directorModal" data-toggle="modal" data-target="#director" style="cursor:pointer" (click)="director(p.director)" >{{p.director?.nombre}}</span><br><br>
         <b>Actores:</b><br>
         <span *ngFor="let item of p.listaActores"  class="actorModal" data-toggle="modal" data-target="#actor" style="cursor:pointer" (click)="actor(item)">
            {{item.nombre}}<br>
         </span><br>
         <b>Generos:</b><br>
         <span *ngFor="let item of p.listaGeneros">
            {{item.genero}}<br>
         </span><br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="trailer()">Ver Trailer</button>
            <button type="button" class="btn btn-danger" *ngIf="rol == 'ADMIN'" data-dismiss="modal" (click)="eliminar(p)">Eliminar</button>
            <button type="button" class="btn btn-warning" *ngIf="rol == 'ADMIN'" data-toggle="modal" data-target="#editarPelicula">Editar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

   <!-- Modal Actor-->
 <div class="modal fade" id="actor" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body" style="text-align:center">
          <h1>{{a.nombre}}</h1><br>
          <div class="imagen">
            <img src={{a.rutaImg}} width="70%">
          </div>
          <b>Fecha de Nacimiento: </b>{{a.fechaNacimiento}}<br><br>
          <b>Lugar de Nacimiento: </b>{{a.lugarNacimiento}}<br><br>
          <b>Fecha de Defunción: </b>{{a.fechaDefuncion}}<br><br>

        <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
   <!-- Modal Director-->
 <div class="modal fade" id="director" role="dialog" style="text-align:center">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <h1>{{d.nombre}}</h1><br>
          <div class="imagen">
            <img src={{d.rutaImg}} width="70%">
          </div>
          <b>Fecha de Nacimiento: </b>{{d.fechaNacimiento}}<br><br>
          <b>Lugar de Nacimiento: </b>{{d.lugarNacimiento}}<br><br>
          <b>Fecha de Defunción: </b>{{d.fechaDefuncion}}<br><br>

        <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
   <!-- Modal EDITAR PELICULA-->
   <div class="modal fade" id="editarPelicula" role="dialog" style="text-align:center">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <form>
            Titulo:<br>
            <input type="text" placeholder="Inserte titulo..." value={{p.titulo}} [(ngModel)]="p.titulo" name="titulo"><br><br>
            Descripción:<br><br>
            <textarea value={{p.descripcion}} name="descripcion" [(ngModel)]="p.descripcion" rows=10></textarea><br><br>
            Duración:<br>
            <input type="text" placeholder="Año de estreno..." value= {{p.duracion}} [(ngModel)]="p.duracion" name="duracion"><br><br>
            Productora:<br><br>
            <input type="text" placeholder="Productora..." value={{p.productora}} [(ngModel)]="p.productora" name="productora"><br><br>
            Premios:<br><br>
            <input type="text" placeholder="Premios..." value={{p.premios}} [(ngModel)]="p.premios" name="premios"><br><br>
          </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editar()">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>