@font-face{
    font-family: 'HARRY';
    src: url('./../../assets/fuentes/HARRY.TTF')
}
@font-face{
    font-family: 'coolvetica';
    src: url('./../../assets/fuentes/coolvetica.ttf')
}

table{
    width: 100%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.2); 
    border-collapse: collapse;
}

td, th{
    border:2px solid black;
}
td.mat-cell{
    min-width: 300px;
    padding:1em;
    color: black;
    text-align: center;
    font-size:1.3em;
    font-family: 'coolvetica';
}
td.mat-cell:first-of-type{
    padding: 1em;
}
th{
    min-width: 300px;

    color: black;
    padding: 2em; 
    font-weight: bold; 
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: 'HARRY';
}
.menu{
    margin-bottom: 4%;
}
.opcion{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: black;
    transition: 2s;
    height: 64px;
}
.opcion:hover{

    background-color: grey;
    font-size: 1.60rem;
    height: 64px;
    padding-top:-1em;
}
a{
    text-decoration: none;
    color: white
}

.borde{
    border-radius: 25px 0px 0px 25px;
}

.bordefinal{
    border-radius: 0px 25px 25px 0px;
    background-color: red;
    
}
img:hover{
    cursor: pointer;
}
.imagen{
    text-align: center;
    margin-bottom: 1em;
}