.contenedor{
    /*height: 1200px;
    overflow: auto;
    color:white;*/
    margin-bottom: 8%;
}

.menu{
    margin-bottom: 4%;
}
.opcion{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: black;
    transition: 2s;
    height: 64px;
}
.opcion:hover{

    background-color: grey;
    font-size: 1.60rem;
    height: 64px;
    padding-top:-1em;
}
a{
    text-decoration: none;
    color: white
}

.borde{
    border-radius: 25px 0px 0px 25px;
}

.bordefinal{
    border-radius: 0px 25px 25px 0px;
    background-color: red;
    
}
.actor{
    margin-bottom: 2em;
}
table{
    width: 40%;
    margin:auto;
    text-align: center;
    margin-bottom: 4em;
    border-collapse: separate;
}
th, td{
    border:2px solid white;
    padding:1em; 

}
table thead tr th{
    background-color:rgba(132, 167, 221, 0.726); 
    border-radius: 25px 25px 0px 0px;
}
.col1{
    border-radius: 0px 0px 0px 25px;
}
.col2{
    border-radius: 0px 0px 25px 0px;
}