<div>
<div class="container menu">
    <div class="row" style="margin-top:2%">
        <div class="col opcion borde"><a [routerLink]="['/inicio']">Inicio</a></div>
        <div class="col opcion "><a [routerLink]="['/pelicula']">Peliculas</a></div>
        <div class="col opcion"><a [routerLink]="['/actores']">Actores</a></div>
        <div class="col opcion"><a [routerLink]="['/directores']">Directores</a></div>
        <div class="col opcion "><a [routerLink]="['/listaAdmin']">Noticias/sugerencias</a></div>
        <div class="col opcion bordefinal"><a (click)="cerrarSesion()" href="">Cerrar sesion</a></div>

    </div>
  </div>
</div>
<input type="text" name="filtro" onkeypress="filtrar()" ><br>
<h1 class="titulo_pag">Actores</h1>
<div class="container contenedor" style="width: 100%;">
  <table *ngFor="let item of actores" style="float:left; max-width: 30%; max-height: 450px;margin-left:13.5%; " class={{item.nombre}}>
    <thead>
      <tr>
        <th colspan=2>{{item.nombre}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan=2><img src={{item.rutaImg}} alt={{item.nombre}} title={{item.nombre}} width="60%" height="180px"></td>
      </tr>
      <tr>
        <td>Fecha de nacimiento:</td><td>{{item.fechaNacimiento}}</td>
      </tr>
      <tr><td class="col1">Lugar de nacimiento:</td><td class="col2">{{item.lugarNacimiento}}</td>
      </tr>
    </tbody>
  </table>
</div>
