<div class="container">
    <h1>Bienvenido a Five Stars!</h1>
    <p>Gracias por registrarte y entrar a nuestra aplicación web, te aseguro que no te arrepetiras.<br>
      Esta web está diseñado con el fin de obtener reseñas de las mejores películas del mundo cinematográfico. Como sabemos que no podemos contentar a todos, en un 
      futuro vamos a implementar más funcionalidades como puede ser :
    </p>
    <div class="novedades">
        <div class ="left sugerencias">
            <h2>1. Sugerencias</h2>
            <p>Queremos implementar un apartado en el cual rellenes un formuulario para enviar sugerencias sobre una película que no esté en nuestro catálago, o bien 
              para avisarnos sobre algún error en nuestra página.
            </p>
          </div>
          <div class="right noticias">
            <h2>2. Noticias</h2>
            <p>También queremos implementar un apartado de noticias en donde subiremos noticias sobre el mundo cinematográfico como estrenos, entrevistas,
              promesas del cine, etc.
            </p>
          </div>
    </div>
    <div class="novedades">
        <div class ="left perfil">
            <h2>3. Mi Perfil</h2>
            <p>También estará disponible un apartado de perfil donde podrás ver las películas que hayas guardado como favoritos(función que también está en desarrollo)
              y consultar los datos de tu cuenta.
            </p>
          </div>
          <div class="right favoritos">
            <h2>4. Favoritos</h2>
            <p>La funcionalidad de favoritos te dejará guardar listas de películas para mostrarselas a tus amigos aficionados del cine. Gracias esto
              tendrás más facilidad a la hora de encontrar las películas que más te gusten.
            </p>
          </div>
    </div>
    <div class="video">
    <h2>La mejor pelicula de lo que va de año?</h2>
    <video controls>
        <source src="./../../assets/videos/ENDGAME.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="mapa">
      <h2>Donde contactarnos?</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.094430517903!2d-3.6997765846424917!3d40.47317587935875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422912c3f95711%3A0xfd6d0a1eb67bcfc!2sIES+Tetu%C3%A1n+de+las+Victorias!5e0!3m2!1ses!2ses!4v1560106897860!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="botones">
        <button type="button" class="btn btn-primary" (click)="peliculas()">Accede a nuestra aplicación y navega ahora!</button><br><br>
        <button type="button" class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesion</button>

    </div>
</div>
