@font-face{
    font-family: 'coolvetica';
    src: url('./../../assets/fuentes/coolvetica.ttf')
}
h1{
    text-align: center;
    padding-bottom: 0.5em;
}
.titulo_pag{
    color:white;
    border: 3px solid #994E81;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(187,126,167,0.5);
    padding: 0.25em;
    width: 50%;
    margin:auto;
    margin-bottom: 1.5em;

}
h1, h2, p{
    font-family: 'coolvetica';
    color:white;
}
.novedades{
    display: flex;
    padding:1em;
    margin-bottom: 1.5em;
}
.left{
    width: 40%;
    margin-right: 5%;
}
.right{
    width: 40%;
    margin-left: 5%;
}
.sugerencias{
    border: 3px solid #726868;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(158,147,147,0.5);
    padding: 1.5em;
    
}
.noticias{
    border: 3px solid #226666;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(64,127,127,0.5);
    padding: 1.5em;
}
video{
    display:block;
    width:50%;
    margin: auto;
    margin-bottom: 1.5em;
}
.video{
    text-align: center
}
.botones{
    text-align: center;
    margin-top:7%;
    margin-bottom: 7%;
}
.mapa{
text-align: center}
.menu{
    margin-bottom: 4%;
}
.opcion{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: black;
    transition: 2s;
    height: 64px;
}
.opcion:hover{

    background-color: grey;
    font-size: 1.60rem;
    height: 64px;
    padding-top:-1em;
}
a{
    text-decoration: none;
    color: white
}

.borde{
    border-radius: 25px 0px 0px 25px;
}

.bordefinal{
    border-radius: 0px 25px 25px 0px;
    background-color: red;
    
}