<section class="register-account"> 
  <div class="signform"  style="background-color:rgba(0,0,0,0.5)">      
    <div class="right"  style="">
        <div class="headit">
          <h4 style="color: white">Login To Your Account</h4>
        </div>
        <div class="form">
          <form class="login-form" id="login-form">
              <input type="text" placeholder="Username" [(ngModel)]="usuarioEnvio.username" name="username"/>
              <input type="password" placeholder="Password" [(ngModel)]="usuarioEnvio.password" name="password"/>        
              <input class="button" type="submit" value="Sign In" (click)="verificar()" style="border:none;"/>   
          </form>
          <button class="button"   data-toggle="modal" data-target="#añadir">Don't have an account? Sign up!</button>

        </div>
    </div>       
  </div>
</section>

  <!-- Modal -->
<div class="modal fade" id="añadir" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">Añadir Candidato</h4>

    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <form > 

      Correo <input class="form-control" type="text" name="correo" [(ngModel)]="usuarioCreado.correo">
    
      Nombre de usuario <input class="form-control" type="text" name="username" [(ngModel)]="usuarioCreado.username"> 
      
      Contraseña <input id="passwordVerificacion" class="form-control" type="password" name="cadena" [(ngModel)]="cadena">

      Repetir contraseña <input class="form-control" type="password" name="password" [(ngModel)]="usuarioCreado.password">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modayl">Cerrar</button>
    <button type="button"  class="btn btn-secondary" data-dismiss="modal" (click)="crearUsuario()">Crear usuario</button>
    

  </div>
</div>

</div>
</div>
