<header>

    <div id="wrapper">
      
      <p id="stars"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></p>
      <p id="title"  spellcheck="false"><span>FIVE</span><span> STARS</span><span></span></p>
      <p id="slogan"><span>La mejor información sobre cine.</span></p>
      <!-- contenteditable="true" --> 
    </div>
    
</header>
<router-outlet></router-outlet>
<div id="rrss">
  <a href="https://es-es.facebook.com/"><img src="./../assets/img/facebook.png" wigth=50px height=45px></a>
  <br>
  <a href="https://www.instagram.com/?hl=es"><img src="./../assets/img/instagram.png" wigth=50px height=45px></a>
  <br>
  <a href="https://twitter.com/login?lang=es"><img src="./../assets/img/twitter.png" wigth=50px height=45px></a> 
</div>
<!--<div id="boton">
  <a onclick="recarga()">Volver al principio</a>
</div>-->
<footer id="correo">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img style="border:0;width:88px;height:31px"
          src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
          alt="¡CSS Válido!" id="validado"/>
    </a>
  Correo de contacto:
  tfg@tfg.es
</footer>