<div class="container"style=" margin:auto;">
  <div class="menu">
  <div class="row" style="margin-top:2%">
      <div class="col-lg opcion borde "><a [routerLink]="['/inicio']" class="enlace">Inicio</a></div>
      <div class="col-lg opcion "><a [routerLink]="['/pelicula']" class="enlace">Peliculas</a></div>
      <div class="col-lg opcion "><a [routerLink]="['/actores']" class="enlace">Actores</a></div>
      <div class="col-lg opcion "><a [routerLink]="['/directores']" class="enlace">Directores</a></div>
      <div class="col-lg opcion noti "><a [routerLink]="['/noticias']" class="enlace">Noticias/sugerencias</a></div>
      <div class="col-lg opcion bordefinal "><a (click)="cerrarSesion()" href="" class="enlace">Cerrar sesion</a></div>

  </div>
</div>
<h1 id="titulo_pag">Sugerencias y Noticias</h1>

<div class='sugerencias'>
  <h2 class="titulo_suge">Sugerencias</h2>
  
  Titulo:
  <br><br>
  <input type='text' name='titulo' [(ngModel)]="m.asunto" placeholder="Inserte el titulo de la pelicula" size="30%" class='caja_titulo'>
  <br><br><br>
  
  Motivo:
  <br><br>
  <textarea rows="4" cols="50" class='caja_titulo' [(ngModel)]="m.mensaje"></textarea>

  <div id="boton_enviar" (click)="sendEmail()">
    <a>Enviar</a>
  </div>

</div>

<div class="noticias">
    <h2 class="titulo_suge">Noticias</h2>
    Estos enlaces te permiten ver noticias sobre cine:
    <div class='parrafo'><img src='./../../assets/img/fotogramas.png' class='imagen_noticia' width=90px height=60px>
      <a href="https://www.fotogramas.es/" class="noticiaEnlace" target="_bank"><u>Fotogramas</u></a>
    </div>
    <div class='parrafo'><img src='./../../assets/img/sensa.jpg' class='imagen_noticia' width=90px height=60px>
      <a href="http://www.sensacine.com/peliculas/noticias/" class="noticiaEnlace" target="_bank"><u>Sensacine</u></a>
    </div>
    <div class='parrafo'><img src='./../../assets/img/sep.jpg' class='imagen_noticia' width=90px height=60px>
      <a href="https://www.elseptimoarte.net/noticias/" class="noticiaEnlace" target="_bank"><u>El septimo arte</u></a>
    </div>
    <div class='parrafo'><img src='./../../assets/img/premiere.jpg' class='imagen_noticia' width=90px height=60px>
      <a href="https://www.cinepremiere.com.mx/noticias" class="noticiaEnlace" target="_bank"><u>Cine premiere</u></a>
    </div>
</div>
<div id="boton">
  <a onclick="recarga()">Volver al principio</a>
</div>