
#titulo_pag{
    color:white;
    border: 3px solid #994E81;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(187,126,167,0.5);
    padding: 0.25em;
    width: 50%;
    text-align: center;
    margin:auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;

}
.menu{
    margin-bottom: 4%;
}
.opcion{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    border: 2px solid white;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: black;
    transition: 2s;
    height: 64px;
}
.opcion:hover{
    background-color: grey;
    font-size: 1.40rem;
    height: 64px;
    padding-top:-1em;
}

.borde{
    border-radius: 25px 0px 0px 25px;
}
.noti{
    background-color: rgba(64,127,127,0.8);
}

.bordefinal{
    border-radius: 0px 25px 25px 0px;
    background-color: rgba(255, 50, 50, 0.8);
    
}

.sugerencias{
    width: 70%;
    height: 600px;
    border: 3px solid #726868;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(112,107,107,0.5);
    padding: 2em;
    padding-left: 5em;
    color:white;
    margin:auto;
    margin-bottom: 4em;
    font-size: 1.25em;
    font-weight: bold;
}
.caja_titulo{
    background-color: rgba(232,232,232,0.9);
    border: 2px solid #999999;
    border-radius: 10px;
}
.titulo_suge{
    text-align: center;
    padding-bottom: 1em;
}
.noticias{
    width: 70%;
    border: 3px solid #226666;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(64,127,127,0.5);
    padding: 2em;
   
    color:white;
    margin:auto;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.parrafo{
    margin: 1em;
    padding: 1em;
}
.imagen_noticia{
    float: left;
    margin-left: 4em;
}
.noticiaEnlace{
    color:white;
}
a.enlace{
    text-decoration: none;
    color: white
}
#boton_enviar{
    text-align: center;
    border-radius: 25px;
    border: 3px solid #AFA92B;
    background-color: rgba(206,200,77,0.3);
    padding:1em;
    float: right;
    cursor: pointer;
    margin: 1.3em;
}
#boton a{
    text-decoration: none;
    color:white;

}
#boton{
    position: fixed;
    top:85%;
    right:2%;
    width: 8%;
    height: 90px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    border: 3px solid #908383;
    background-color: rgba(192,177,177,0.3);
    padding:1em;
    cursor: pointer;
  }